<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="error-text-box">
        <svg viewBox="0 0 600 200">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em">404!</text>
          </symbol>

          <use class="text" xlink:href="#s-text"></use>
          <use class="text" xlink:href="#s-text"></use>
          <use class="text" xlink:href="#s-text"></use>
          <use class="text" xlink:href="#s-text"></use>
          <use class="text" xlink:href="#s-text"></use>
        </svg>
      </div>
      <div class="text-center">
        <h3 class="mt-0 mb-2">Opa! página não encontrada</h3>
        <p class="text-muted mb-3">
          Parece que você pegou o caminho errado. Não se preocupe... isso acontece com o melhor de nós. Você pode querer
          para verificar sua conexão com a Internet.
        </p>

        <a routerLink="/" class="btn btn-success waves-effect waves-light">Voltar para o início</a>
      </div>
    </div>
  </div>
</div>
