<div class="row g-0">
  <div class="col d-none d-md-block">
    <div class="auth-bg-pattern">
      <div class="background"></div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 px-5 my-auto">
    <a class="d-flex justify-content-center" routerLink="/">
      <img src="assets/images/logo-small-dark.png" alt="Logo Reclame Agência" />
    </a>

    <div class="mt-5 mb-3">
      <h2>Redefinir a senha</h2>
      <p class="fw-normal" *ngIf="!submitted">
        Informe seu e-mail cadastrado no nosso site e receba instruções de como criar uma nova senha
      </p>
    </div>

    <ng-container *ngIf="!submitted">
      <form [formGroup]="form" errorTailor novalidate (ngSubmit)="handleSubmit()">
        <div class="mb-3">
          <app-input label="Seu e-mail" formControlName="email"></app-input>
        </div>

        <button type="submit" class="btn btn-primary" [appIsLoading]="submitting">Confirmar</button>
      </form>
    </ng-container>

    <div *ngIf="submitted" [@fadeIn]>
      <h5 class="mb-4">Acesse seu e-mail e siga as instruções para criar uma nova senha.</h5>

      <span class="fw-bold me-3">Não recebeu as instruções?</span>

      <button type="button" class="btn btn-primary" [appIsLoading]="submitting" (click)="handleSubmit()">
        Reenviar e-mail
      </button>
    </div>

    <div class="text-center mt-5">
      <a routerLink="/login">Voltar para login</a>
    </div>
  </div>
</div>
